In [41]:
import pandas as pd
import numpy as np
import pickle

In [42]:
def sigmoid(x) :
    return 1/(1 + np.exp(-x))

In [43]:
model = pickle.load(open('Final Model', 'rb'))
model

LogisticRegression()

In [44]:
data = pd.read_csv('Final_Test.csv')
data.head()

        x1       x2       x3       x4
0  3798.66  3798.84  3798.09  3798.16
1  3798.22  3798.78  3798.13  3798.53
2  3798.50  3799.06  3798.28  3798.28
3  3798.31  3798.41  3797.53  3798.06
4  3797.94  3798.78  3797.84  3798.75

In [45]:
len(data)

1000

In [46]:
data['Prediction'] = model.predict(data)
data

          x1       x2       x3       x4  Prediction
0    3798.66  3798.84  3798.09  3798.16           0
1    3798.22  3798.78  3798.13  3798.53           1
2    3798.50  3799.06  3798.28  3798.28           0
3    3798.31  3798.41  3797.53  3798.06           0
4    3797.94  3798.78  3797.84  3798.75           1
..       ...      ...      ...      ...         ...
995  3749.84  3750.09  3749.44  3749.75           0
996  3749.88  3749.88  3749.03  3749.25           0
997  3749.31  3749.38  3746.63  3746.81           0
998  3747.03  3747.28  3746.00  3746.31           0
999  3745.97  3746.50  3744.81  3744.88           0

[1000 rows x 5 columns]

In [47]:
w = model.coef_.transpose()
b = model.intercept_
result = []
confidence = []
for ind in range(len(data)) :
    row = np.dot(data.iloc[ind, :4], w)
    result.append(sigmoid(row + b))
    confidence.append(abs(sigmoid(row + b)-0.5))

data['Result'] = result
data['Confidence'] = confidence

In [48]:
Final = data.sort_values(by='Confidence', ascending=False).head(100)

In [49]:
Final # This is the final prediction dataset

,x1,x2,x3,x4,Prediction,Result,Confidence
660,3797.13,3797.13,3789.72,3790.78,0,[0.34272273283254084],[0.15727726716745916]
671,3792.41,3792.47,3785.22,3786.19,0,[0.34563706328028754],[0.15436293671971246]
746,3778.59,3779.22,3774.41,3774.44,0,[0.3943283215188037],[0.1056716784811963]
197,3795.88,3796.06,3791.63,3791.81,0,[0.3963103276950419],[0.10368967230495812]
691,3783.78,3783.78,3779.06,3779.75,0,[0.3983575658037744],[0.1016424341962256]
...,...,...,...,...,...,...,...
6,3797.91,3797.91,3796.13,3796.31,0,[0.4592648893720107],[0.04073511062798929]
18,3795.25,3796.59,3794.91,3796.59,1,[0.5407329281069997],[0.04073292810699969]
681,3782.25,3783.69,3782.16,3783.59,1,[0.5402089483236786],[0.040208948323678606]
281,3801.47,3802.91,3801.47,3802.81,1,[0.5399923146800114],[0.03999231468001141]
127,3789.56,3790.88,3789.38,3790.88,1,[0.5397582548976947],[0.03975825489769469]

In [50]:
Final.to_csv('Final_Predictions.csv')